.cart-item {
  width: 100%;
  min-width: 400px;
  max-width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 32px;
  margin-bottom: 8px;
  border-radius: 2px;
  background-color: #eeeeee;
}

button {
  background-color: #1976d2;
  color: white;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
